There are no CodeRetreats running today

%section.coderetreats.not_started
	%header
		%h2 Not Started
	%ul 
		%li.coderetreat London
		%li.coderetreat Manchester
%section.coderetreats.in_session
	%header
		%h2 In Session
	%ul 
		%li.coderetreat Berlin